twihtml, body, div, span, object, iframe, h1, h2, h4, h5, h6, a, em, img, u, i, dl, dt, dd, form, tr, th, td, footer, header, menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

body {
margin:0;
font-family:arial, sans-serif;
background:#6b4d1b;
font-size:11pt;
color:white;
padding:0;
}

.content {
width:820px;
margin:0 auto;
}

a {

text-decoration:none;
}

a:visited {

}

#home-logo {

width:560px;
height:170px;
position:absolute;
top:118px;
left:140px;


}

h1 {
color:#f8d808;
font-size:16pt;

}

h2 {
color:#fff603;
font-size:14pt;
}

h3 {
color:orange;
font-size:11pt;
}

.orange {
color:orange;
}

div.subscription{
margin:0 auto 0 auto;
width:1083px;
position:relative;
}

#logo {

width:400px;
height:130px;
position:absolute;
top:40px;
left:100px;

}

#notice {
height:60px;
text-align:center;
color:white;
position:absolute;
font-size:18pt;
left:50%;
margin-left:-90px;
top:10px;
z-index:1;
}

#sub_img{

}

#fb-like {
position:absolute;
right:260px;
top:220px;
}

#fb-login {
position:absolute;
left:50%;
margin-left:-33px;
top:300px;
}

#intro {
font-size:11pt;
color:white;
width:520px;
background:#6b4d1b;
position:absolute;
right:128px;
top:276px;
padding:10px;
}

#oh-ma-ka-say {
display:inline;
margin-right:2px;
}

.clear {
clear:both;
}

#blog-link {
position:absolute;
top:56px;
right:342px;
}


#story-link {

width:97px;
height:53px;
position:absolute;
top:62px;
right:232px;
}

#contact-link{

width:95px;
height:44px;
top:64px;
right:128px;
position:absolute;

}

#omakase-ninja {

position:absolute;
left:318px;
bottom:100px;
width:90px;
height:109px;

}

#soda-ninja {

position:absolute;
left:410px;
bottom:100px;
width:107px;
height:102px;
}



.twitbox1 {
background: url('../images/twitbox1.png') no-repeat;
width:150px;
height:44px;
position:absolute;
left:240px;
bottom:50px;
font-size:11px;
padding:5px;
padding-top:12px;
color:grey;
padding-left:24px;


border-radius:5px;
}

.twitbox1 a, .twitbox1 a:visited, .twitbox2 a, .twitbox2 a:visited{
font-weight:bold;
color:#4d4d4d !important;
}

.twitbox2 {
background: url('../images/twitbox2.png') no-repeat;
width:150px;
height:44px;
position:absolute;
left:420px;
bottom:40px;

font-size:11px;
padding:5px;
padding-top:12px;
color:grey;
}

#signup-box {
width:376px;
height:61px;
background:#583a14;
color:white;
font-size:14px;
position:absolute;
right:100px;
bottom:126px;
padding-top:12px;
padding-left:6px;

}

input#subscription_email {
border:none;
height:32px;
width:270px;
margin-top:4px;
padding-left:4px;
font-size:14px;
float:left;
}

#subscription_submit {
color:#fff603;
margin-top:4px;
display:inline;
float:left;
margin-left:6px;
}

#submit-wrapper {

padding-top:8px;
border:none;
height:26px;
width:85px;
background:#352412;
text-align:center;
}


#email-success-box, #email-fail-box {
display:none;
background:#342512;
  border: 12px solid rgba(0,0,0,0.3);
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
position:fixed;
left:50%;
top:50%;
color:white;
margin-left:-200px;
margin-top:-100px;
height:150px;
width:400px;
text-align:center;
font-size:18pt;
font-weight:bold;
z-index:10;


     -moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}

#email-success-box .text {
margin-top:60px;

}

#email-fail-box .text {
margin-top:40px;

}


#curtain {


position:fixed;
top:0;
width:100%;
height:100%;
z-index:10;
}

.subscription #what-is-omakase-box {
width:800px;
margin:0 auto;
}

.subscription .bottom {
width:840px;
clear:both;
margin:0 auto;
}

.subscription #the-box {
width:240px;
float:left;
}

.subscription #the-community {
width:240px;
float:left;
}

.subscription #helping-those-in-need {
width:240px;
float:left;
}


.title {

}


/****************************** OUR STORY *********************************/




#story {
color:white;
font-size:14px;
margin:0 auto 0 auto;
width:1083px;
position:relative;

}

#story {
width:820px;
margin:0 auto;
}


#story #our-story .left {
width:460px;
float:left;
margin-right:60px;
}

#story #our-story .right {
width:280px;
float:left;
}

#story #a-social-enterprise .left {
width:280px;
float:left;
margin-right:60px;
}

#story #a-social-enterprise .right {
width:460px;
float:left;
}


/****************************** HOW IT WORKS *********************************/


#how-it-works .left{
width:580px;
float:left;
margin-right:40px;
}

#how-it-works img {
float:left;
}

#how-it-works .right{
width:160px;
float:left;
}


/****************************** HOW IT WORKS *********************************/

#contact {
color:white;
font-size:14px;
margin:0 auto 0 auto;
width:1083px;
position:relative;

}


#contact #email {
position:absolute;
right:0;
bottom:120px;
}

#contact #twit-link1 {
height:20px;
width:120px;
color:white;
background:#6b4d1b;
position:absolute;
top:350px;
right:402px;
}

#contact #twit-link1 a{
color:white;
font-weight:bold;
}

#contact #twit-link2 {
height:20px;
width:120px;
color:white;
background:#6b4d1b;
position:absolute;
top:368px;
right:382px;
}

#contact #twit-link2 a{
color:white;
font-weight:bold;
}


#twit-icon {
position:absolute;
left:4px;
}

#twit-icon-2 {
position:absolute;
right:628px;
top:352px;

}

/**************************** FOOTER ****************************/

#footer {
background:blue;
clear:both;
}

#footer ul {
list-style:none;
float:left;
}



#footer ul.second li{
float:left;
}

