twihtml, body, div, span, object, iframe, h1, h2, h4, h5, h6, a, em, img, u, i, dl, dt, dd, form, tr, th, td, footer, header, menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

body {
margin:0;
font-family:arial, sans-serif;
background:#6b4d1b;

color:black;
padding:0;
}

a {

text-decoration:none;
}

a:visited {

}

#home-logo {

width:560px;
height:170px;
position:absolute;
top:118px;
left:140px;


}

div.subscription{
margin:0 auto 0 auto;
width:1083px;
position:relative;
}

#logo {

width:400px;
height:130px;
position:absolute;
top:40px;
left:100px;

}

#notice {
height:60px;
text-align:center;
color:white;
position:absolute;
font-size:18pt;
left:50%;
margin-left:-90px;
top:10px;
z-index:1;
}

#sub_img{

}

#fb-like {
position:absolute;
right:260px;
top:220px;
}

#fb-login {
position:absolute;
left:50%;
margin-left:-33px;
top:300px;
}

#intro {
font-size:11pt;
color:white;
width:520px;
background:#6b4d1b;
position:absolute;
right:128px;
top:276px;
padding:10px;
}

.clear {
clear:both;
}

#blog-link {
position:absolute;
top:56px;
right:342px;
}


#story-link {

width:97px;
height:53px;
position:absolute;
top:62px;
right:232px;
}

#contact-link{

width:95px;
height:44px;
top:64px;
right:128px;
position:absolute;

}

#omakase-ninja {

position:absolute;
left:318px;
bottom:100px;
width:90px;
height:109px;

}

#soda-ninja {

position:absolute;
left:410px;
bottom:100px;
width:107px;
height:102px;
}



.twitbox1 {
background: url('../images/twitbox1.png') no-repeat;
width:150px;
height:44px;
position:absolute;
left:240px;
bottom:50px;
font-size:11px;
padding:5px;
padding-top:12px;
color:grey;
padding-left:24px;


border-radius:5px;
}

.twitbox1 a, .twitbox1 a:visited, .twitbox2 a, .twitbox2 a:visited{
font-weight:bold;
color:#4d4d4d !important;
}

.twitbox2 {
background: url('../images/twitbox2.png') no-repeat;
width:150px;
height:44px;
position:absolute;
left:420px;
bottom:40px;

font-size:11px;
padding:5px;
padding-top:12px;
color:grey;
}

#signup-box {
width:376px;
height:61px;
background:#583a14;
color:white;
font-size:14px;
position:absolute;
right:100px;
bottom:126px;
padding-top:12px;
padding-left:6px;

}

input#subscription_email {
border:none;
height:32px;
width:270px;
margin-top:4px;
padding-left:4px;
font-size:14px;
}

input#subscription_submit {
border:none;
height:29px;
width:85px;
margin-top:4px;
background:#352412;
color:#fff603;
}


#story {
color:white;
font-size:14px;
margin:0 auto 0 auto;
width:1083px;
position:relative;

}

.container {

position:absolute;
width:541px;
height:249px;
left:140px;
top:270px;

}


.container-1 {

position:absolute;
width:500px;
height:89px;
left:160px;
top:266px;

}

.container-2 {

position:absolute;
width:800px;
height:189px;
left:160px;
top:346px;

}



#story .title {
position:absolute;
left:260px;
bottom:260px;
}

#contact {
color:white;
font-size:14px;
margin:0 auto 0 auto;
width:1083px;
position:relative;

}


#contact #email {
position:absolute;
right:0;
bottom:120px;
}

#contact #twit-link1 {
height:20px;
width:120px;
color:white;
background:#6b4d1b;
position:absolute;
top:350px;
right:402px;
}

#contact #twit-link1 a{
color:white;
font-weight:bold;
}

#contact #twit-link2 {
height:20px;
width:120px;
color:white;
background:#6b4d1b;
position:absolute;
top:368px;
right:382px;
}

#contact #twit-link2 a{
color:white;
font-weight:bold;
}

#story-photo {
margin:20px auto;
width:500px;

}

#twit-icon {
position:absolute;
left:4px;
}

#twit-icon-2 {
position:absolute;
right:628px;
top:352px;

}


