<div id='nav' class='home'>

<%= image_tag 'home_link.png', :id => 'home-nav' %>

<div class='links'>
<a href='/how_it_works'><div id="hiw-link"></div></a>
<a href='http://blog.omakasebox.com'><div id="blog-link"></div></a>
<a href='/story'><div id="story-link"></div></a>
<a href='/contact'><div id="contact-link"></div></a>
</div>
</div>
