<div id='nav' class='home'>

<%= image_tag 'home_link.png', :id => 'home-nav' %>

<%# blog = image_tag 'blog-btn.png', :id => 'blog-link' %>
<%# link_to blog, 'http://blog.omakasebox.com' %>
<a href='/story'><div id="story-link"></div></a>
<a href='/contact'><div id="contact-link"></div></a>


<a href='/'><div id='logo'></div></a>
</div>
