<div id='nav'>

<%= image_tag 'header.png' %>

<a href='/how_it_works'><div id="hiw-link"></div></a>
<a href='http://blog.omakasebox.com'><div id="blog-link"></div></a>
<a href='/story'><div id="story-link"></div></a>
<a href='/contact'><div id="contact-link"></div></a>


<a href='/'><div id='logo'></div></a>
</div>
