<div id='contact'>
<%= image_tag 'bg-contact.png'%>
<%= render 'shared/nav' %>

<div id='twit-link1'><%= link_to '@omakase_ninja', 'http://twitter.com/omakase_ninja' %></div>
<div id='twit-link2'><%= link_to '@soda_ninja', 'http://twitter.com/soda_ninja' %></div>


</div>
