<div id='story'>
<%= image_tag 'bg-story.png'%>
<%= render 'shared/nav' %>
<div class='container-1'>

<p>Our two Omakase ninjas met in university and often snuck out of class (like ninjas!) to go out and eat. Student loans were used for food and after graduating, they entered into the pits of the financial industry. Fed up, they quit work and wanted to make polo shirts - they sucked at this.</p>
</div>
<div class='container-2'>
<p>One was a soda junkie with an embarrassing attraction to neon green foods while the other was a noodle king and alfajores whore. When they returned from their missions they shared their cool new food finds with their friends just before going off on their next secret mission to find more tasty treats.</p>

<p>Soon they realized lots of people, like you, wanted to try these tasty finds too.  With foam swords and candy wrapper stars in their dojo our ninjas set out to fulfill their life's mission by finding you awesome foods and delivering them to you in the Omakase box.  There is no telling what our ninjas might bring back next!</p>

<strong>Secret Mission</strong>
<p>We search high and low, cross oceans and scale mountains, to find the tastiest, weirdest, and coolest bites.  We adhere to the 5-second rule.  We eat everything (sticky or salty, jiggly or firm) and only bring back the good stuff.  We are ninjas.</p>
</div>

</div>
</div>
