<% content_for :header do %>

	<%= render 'shared/nav' %>

<% end %>

<div id='story'>



		<div id ='our-story'>

			<div class='left'>

				<h1>Our Story</h1>

				<p>Our two Omakase ninjas met in university and often snuck out of class (like ninjas!) to go out and eat. Student loans were used for food and after graduating, they entered into the pits of the financial industry. Fed up, they quit work and wanted to make polo shirts - they sucked at this.</p>

				<p>One was a soda junkie with an embarrassing attraction to neon green foods while the other was a noodle king and alfajores whore. When they returned from their missions they shared their cool new food finds with their friends just before going off on their next secret mission to find more tasty treats.</p>

				<p>Soon they realized lots of people, like you, wanted to try these tasty finds too.  With foam swords and candy wrapper stars in their dojo our ninjas set out to fulfill their life's mission by finding you awesome foods and delivering them to you in the Omakase box.  There is no telling what our ninjas might bring back next!</p>

			</div>
			
			<div class='right'>

				<%= image_tag 'omakase-story-photo.jpg', :width => '220', :id =>'nancy_jing'%>

				<strong>Secret Mission</strong>
				<p class='orange'>We search high and low, cross oceans and scale mountains, to find the tastiest, weirdest, and coolest bites.  We adhere to the 5-second rule.  We eat everything (sticky or salty, jiggly or firm) and only bring back the good stuff.  We are ninjas.</p>


				(Nancy and Jing pictured above)
			</div>
			
			<div class='spacer'></div>

		</div>

		<div id='a-social-enterprise'>

			<div class='left'>
				
				<%= image_tag 'cake.png', :id => 'cake' %>	
		
			</div>

			<div class='right'>

				<h1>A Social Enterprise</h1>

				<p>We sit on a moral fence between the pleasures of eating and the economic realities of a global food crisis. Even at home, some Canadians are hungry all the time, not to mention the million others worldwide.</p>

				<p>As socially conscious foodies, we'll lend a helping hand to those less privileged. Hunger is hidden problem in Canada and many don’t know that there are a large number of children and families that often go hungry before bed. And with the number of people being assisted by a food bank on the rise, the urgency has never been
				greater for those most vulnerable.</p>

				<p>With every Omakase box that's delivered, we donate part of our proceeds to Food Banks Canada. We’d like to do our part, and together, you can 
				still have your cake and share it too.</p>
			
			</div>
		</div>

	<div class='filler'>
	</div>
</div>

	<% content_for :footer do %>

		<%= render 'shared/footer' %>

	<% end %>
