<div id='story'>
<%= image_tag 'bg-story.png'%>
<%= render 'shared/nav' %>
<div class='title'>The Omakase Story</div>
<div class='container'>

<p>Our two Omakase ninja’s met in university and often snuck out of class (like a ninja!) to go out and eat.  Student loans were used for food and after graduating, they entered into the pits of finance. Fed up, they quit work and wanted to make polo shirts. They sucked.
</p>
<p>
So they started a food blog and continued their search for tasty food treats. One was a soda junkie with a weird attraction to neon green foods while the other was a noodle king and alfajores whore. They shared their cool new food finds with fellow ninja friends and paid just about anything to find out how their next coolest treat tasted like.
</p>
<p>
Soon, they realized that cool food treats were hard to get! And so, their path to enlightenment began with their search to find awesome foods and to make a life out of eating. To share enlightenment with the rest of the world, they designed the Omakase box, a tasting addiction you can feel good about and look forward to, and embarked on their continuing mission.
</p>
</div>
</div>
